* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif,Source Code Pro;
    margin: 0;
    padding: 0;
}

.navbar, .footer {
    background-color: green;
    color: white;
}


.recipeFinderSearch {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height:400px;
    height: max-content;

}

.container {
    width: 100%;
    border: azure solid;
    text-align: center;
    margin: 5px 10px;
    box-shadow: 2px 2px #05445E;
    border-radius: 10px;
    padding: 10px 0;
    min-height: 400px;
    height: max-content;


}

.mealType {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/10/18/44/top-view-1248955_1280.jpg);
    background-size: cover;
}

.pantryItems {
    background-image: url(https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_1280.jpg);
    background-size: cover;

}


.searchBtn {
    width: 150px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    
}

.emptypantrybtn {
    width: 150px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    
}


.input {
    background-color: #b1d4e0;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 17px;

}

.h2 {
    font-family: 'Cabin', sans-serif;
    color: #ecfdf1;
    font-size: 38px;
    margin: 10px 0;
    text-shadow: 1px 1px black;
    text-decoration: underline;
}

.pantryitemslist {
    list-style: none;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    list-style-type: disc;
}

.pantryitemslist li {
    color: red;
}

.emptypantry p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 255, 21);
    padding: 10px;
    max-width: 500px;
    max-height: 50px;
}

.search p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 255, 21);
    padding: 10px;
    max-width: 500px;
    max-height: 50px;
}

.dropdown {
    position: relative;
    margin-top: 30px;
}

.itemList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    width: 350px;
    display: inline-block;
  }
  
  .pantryLi {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
    position: relative;
  }
  
  .pantryLi:hover {
    background-color: silver;
  }
  
  .close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 5px 12px;
    transform: translate(0%, -50%);
  }
  
  .close:hover {background: purple;}

  .pantryItemsbg {
    background-image: url(https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_1280.jpg);
    background-size: cover;
  }
  
  main {
      height: max-content;
  }

  