
.round-button {
    width:25%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid white;
    overflow:hidden;
    box-shadow: 0 0 3px gray;
  }
  .round-button-circle:hover {
    background: rgba(255,255,255,0.5);
  }
  .round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
          
    text-align:center;
    color: rgb(117, 228, 117);
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bolder;
    font-size: 40px;
    text-decoration:none;
  }

  #myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    object-fit: cover;

  }